body{
    background-color: #edf4dc;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2em;
    padding: 2em;
    max-width: 1200px;
    margin: auto;
  }
  
  .card {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .card img {
    width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  }
  
  .card p {
    margin-top: 0.75em;
    font-weight: bold;
  }

  #wagd{
  color: pink;
  font-size: 2em;
  font-weight: bold;
  }

  #batoul{
    color: red;
    font-size: 2em;
    font-weight: bold;
  }

  #ziad{
    color: blue;
    font-size: 2em;
    font-weight: bold;
  }

  #ilham{
    color: brown;
    font-size: 2em;
    font-weight: bold;
  }

#skndr{
    color: #594100;
    font-size: 2em;
    font-weight: bold;
  }


  #selina{
    color: #D69ADE;
    font-size: 2em;
    font-weight: bold;
  }


  #hala{
    color: #940909;
    font-size: 2em;
    font-weight: bold;
  }


#leo{
    color: grey;
    font-size: 2em;
    font-weight: bold;
  }

  #hana{
    color: #EAB9E2;
    font-size: 2em;
    font-weight: bold;
  }